{% extends 'core/university/index.html' %}
{%  load static %}
{% block content %}

    <h1>Performance Analytics for {{ university.name }}</h1>

    <h2>Overall Average Grade: {{ overall_avg_grade|floatformat:2 }}</h2>

    <h3>Student Results</h3>
    <table border="1">
        <thead>
            <tr>
                <th>Student</th>
                <th>Course Name</th>
                <th>Grade</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result.student.user.username }}</td>
                <td>{{ result.course}}</td>
                <td>{{ result.grade }}</td>
                <td>{{ result.year }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<a href="{% url 'university_dashboard' %}">Back to Dashboard</a>
{% endblock %}
