<div id="features" class="section">
    <div class="container">
      <h2 class="center-align">Our Features</h2>
      <div class="row">
        <div class="col s12 m6 l3">
          <div class="feature-box">
            <h3 class="center-align">1000+</h3>
            <p class="center-align">Users</p>
          </div>
        </div>
        <!-- More metrics -->
        <div class="col s12 m6 l3">
            <div class="feature-box">
              <h3 class="center-align">1000+</h3>
              <p class="center-align">Users</p>
            </div>
          </div>
          <div class="col s12 m6 l3">
            <div class="feature-box">
              <h3 class="center-align">1000+</h3>
              <p class="center-align">Users</p>
            </div>
          </div>
      </div>
    </div>
  </div>
  