{% extends 'core/company/main.html' %}
{% load static %}
{% block content %}

<main>
    <h2>Company Profile</h2>
    <div class="insights">

        <!-- Mission Card -->
        <div class="internships">
            <span class="material-icons-sharp">work</span>
            <div class="middle">
                <div class="left">
                    <h3>Mission</h3>
                    <p>{{ company.mission }}</p>
                </div>
            </div>
        </div>
        <!-- End of Mission Card -->

        <!-- About Card -->
        <div class="applications">
            <span class="material-icons-sharp">description</span>
            <div class="middle">
                <div class="left">
                    <h3>About</h3>
                    <p>{{ company.about }}</p>
                </div>
            </div>
        </div>
        <!-- End of About Card -->

        <!-- Industry Card -->
        <div class="students">
            <span class="material-icons-sharp">business</span>
            <div class="middle">
                <div class="left">
                    <h3>Industry</h3>
                    <p>{{ company.industry }}</p>
                </div>
            </div>
        </div>
        <!-- End of Industry Card -->

        <!-- Address Card -->
        <div class="students">
            <span class="material-icons-sharp">location_on</span>
            <div class="middle">
                <div class="left">
                    <h3>Address</h3>
                    <p>{{ company.address }}</p>
                    <small class="text-muted"><strong>Contact Email:</strong> {{ company.contact_email }}</small>
                </div>
            </div>
        </div>
        <!-- End of Address Card -->

        <!-- Edit Profile Card -->
        <div class="students">
            <span class="material-icons-sharp">edit</span>
            <div class="middle">
                <div class="left">
                    <h3>Edit Profile</h3>
                    <a href="{% url 'edit_company_profile' %}" class="btn btn-primary">Edit Profile</a>
                </div>
            </div>
        </div>
        <!-- End of Edit Profile Card -->

    </div>
</main>

<div class="right">
    {% include 'core/company/header.html' %}
</div>
{% endblock %}
