{% extends 'core/company/main.html' %}
{% load static %}
{% block content%}

<main>
    <h2>Company Profile</h2>
    <div class="insights">
        <div class="internships">
            <span class="material-icons-sharp">work</span>
            <div class="middle">
                <div class="left">
                    <h3>{{ company.name }}</h3>
                    <h1><strong>Mission:</strong> {{ company.mission }}</h1>
                    <p><strong>Industry:</strong> {{ company.industry }}</p>
                </div>
            </div>
            <small class="text-muted">foundend in </small>
        </div>
        <!-- end of internships -->
        <div class="applications">
            <span class="material-icons-sharp">description</span>
            <div class="middle">
                <div class="left">
                    <h3><strong>About:</strong> {{ company.about }}</h3>
                    <h3><strong>Address:</strong> {{ company.address }}</h3>  
                </div>
                
            </div>
            <small class="text-muted"><strong>Contact Email:</strong> {{ company.contact_email }}</small>
        </div>
        <!-- end of applications -->
        <div class="students">
            <span class="material-icons-sharp">group</span>
            <div class="middle">
                <div class="left">
                    <h3>Vision:</h3>
                    <h1>{{ company.vision }}</h1> 
                </div>
                
            </div>
            <small class="text-muted">Last 72hrs</small>
        </div>
        <!-- end of students -->
    </div>
    <a href="{% url 'edit_company_profile' %}" class="btn btn-primary">Edit Profile</a>
</main>
<div class="right">
    {% include 'core/company/header.html' %}
</div>
{% endblock %}
