{% extends 'core/company/main.html' %}
{% load static %}
{% block content%}
<div class="container">
    <h2>Students Applied to Your Vacancies</h2>

    {% if students %}
        <ul class="student-list">
            {% for student in students %}
            <li class="student-item">
                <div>
                    <strong>{{ student.name }} {{ student.last_name }}</strong> 
                    ({{ student.registration_number }})
                </div>
                <p>Program: {{ student.program_of_study }}</p>
                <p>Year of Study: {{ student.year_of_study }}</p>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No students have applied to your vacancies yet.</p>
    {% endif %}
</div>
{% endblock %}