<!-- =============END OF MAIN=============== -->
{% load static %}
<div class="right">
    {% include 'core/company/header.html' %}
    <div class="top-applicants">
        <h2>Top Applicants</h2>
        <div class="applicants">
            <div class="applicant">
                <div class="profile-photo">
                    <img src="{% static 'images/logo.jpeg' %}" alt="">
                </div>
                <div class="message">
                    <p><b>Manooo</b>applied not yet respondend</p>
                    <small class="text-muted">2days Ago</small>
                </div>
            </div>

            <div class="applicant">
                <div class="profile-photo">
                    <img src="{% static 'images/logo.jpeg' %}" alt="">
                </div>
                <div class="message">
                    <p><b>Manooo</b>applied not yet respondend</p>
                    <small class="text-muted">2days Ago</small>
                </div>
            </div>

            <div class="applicant">
                <div class="profile-photo">
                    <img src="{% static 'images/logo.jpeg' %}" alt="">
                </div>
                <div class="message">
                    <p><b>Manooo</b>applied not yet respondend</p>
                    <small class="text-muted">2days Ago</small>
                </div>
            </div>
        </div>
    </div>
    <!-- =============END OF TOP APPLICANTS -->
     <div class="internship-analytics">
        <h2>InternShip Analytics</h2>
        <div class="internship posted">
            <div class="icon">
                <span class="material-icons-sharp">work</span>
            </div>
            <div class="right">
                <div class="info">
                    <h3>TOTAL INTERNSHIP POSTED</h3>
                    <small class="text-muted">Last 3months</small>
                </div>
                <h5 class="success">+39%</h5>
                <h3>3452626</h3>
                
            </div>
        </div>

        <div class="internship application-received">
            <div class="icon">
                <span class="material-icons-sharp">description</span>
            </div>
            <div class="right">
                <div class="info">
                    <h3>TOTAL APPLICATIONS RECEIVED</h3>
                    <small class="text-muted">Last 3months</small>
                </div>
                <h5 class="danger">+39%</h5>
                <h3>3452626</h3>
                
            </div>
        </div>

        <div class="internship active-internships">
            <div class="icon">
                <span class="material-icons-sharp">task_alt</span>
            </div>
            <div class="right">
                <div class="info">
                    <h3>ACTIVE INTERNSHIPS</h3>
                    <small class="text-muted">Last 3months</small>
                </div>
                <h5 class="warning">+39%</h5>
                <h3>3452626</h3>
                
            </div>
        </div>

        <div class="internship add-internship">
            <div>
                <span class="material-icons-sharp">add</span>
                <h3>POST NEW INTERNSHIP</h3>
            </div>

        </div>
     </div>
 </div>