<!-- =============END OF MAIN=============== -->
{% load static %}
<div class="right">
    {% include 'core/company/header.html' %}
    <div class="top-applicants">
        <h2>About Company</h2>
        <div class="applicants">
            <div class="applicant">
                <div class="profile-photo">
                    <i class="fas fa-bullseye"></i> <!-- Icon for Mission -->
                </div>
                <div class="message">
                    <p><b>Mission:</b></p>
                    <p>{{ company.mission }}</p>
                </div>
            </div>
    
            <div class="applicant">
                <div class="profile-photo">
                    <i class="fas fa-eye"></i> <!-- Icon for Vision -->
                </div>
                <div class="message">
                    <p><b>Vision:</b></p>
                    <p>{{ company.vision }}</p>
                </div>
            </div>
    
            <div class="applicant">
                <div class="profile-photo">
                    <i class="fas fa-info-circle"></i> <!-- Icon for About -->
                </div>
                <div class="message">
                    <p><b>About:</b></p>
                    <p>{{ company.about }}</p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- =============END OF TOP APPLICANTS -->
     <div class="internship-analytics">
        <h2>InternShip Analytics</h2>
        <div class="internship posted">
            <div class="icon">
                <span class="material-icons-sharp">work</span>
            </div>
            <div class="right">
                <div class="info">
                    <h3>TOTAL INTERNSHIP POSTED</h3>
                    <small class="text-muted">Last 3months</small>
                </div>
                <h5 class="success">+39%</h5>
                <h3>3452626</h3>
                
            </div>
        </div>

        <div class="internship application-received">
            <div class="icon">
                <span class="material-icons-sharp">description</span>
            </div>
            <div class="right">
                <div class="info">
                    <h3>TOTAL APPLICATIONS RECEIVED</h3>
                    <small class="text-muted">Last 3months</small>
                </div>
                <h5 class="danger">+39%</h5>
                <h3>3452626</h3>
                
            </div>
        </div>

        <div class="internship active-internships">
            <div class="icon">
                <span class="material-icons-sharp">task_alt</span>
            </div>
            <div class="right">
                <div class="info">
                    <h3>ACTIVE INTERNSHIPS</h3>
                    <small class="text-muted">Last 3months</small>
                </div>
                <h5 class="warning">+39%</h5>
                <h3>3452626</h3>
                
            </div>
        </div>

        <div class="internship add-internship">
            <div>
                <span class="material-icons-sharp">add</span>
                <h3>POST NEW INTERNSHIP</h3>
            </div>

        </div>
     </div>
 </div>