{% extends 'core/student/index.html' %}
{% load static %}

{% block content %}
<div class="pagetitle">
  <h1>Application Status</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'student_dashboard' %}">Home</a></li>
      <li class="breadcrumb-item active">Application Status</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">
    <div class="col-12">
      <table class="table table-borderless datatable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Vacancy Title</th>
            <th scope="col">Company</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for application in applications %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ application.vacancy.title }}</td>
            <td>{{ application.vacancy.company.name }}</td>
            <td>{{ application.vacancy.description|truncatechars:100 }}</td>
            <td>
              {% if application.vacancy.id in applied_vacancy_ids %}
                <span class="badge bg-success">Applied</span>
              {% else %}
                <a href="{% url 'apply_for_vacancy' application.vacancy.id %}" class="btn btn-primary btn-sm">Apply</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

{% endblock %}
