{% extends 'core/student/index.html' %}
{%  load static %}

{% block content %}
<div class="pagetitle">
  <h1>Internship Opportunities</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'student_dashboard' %}">Home</a></li>
      <li class="breadcrumb-item active">Opportunities</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

  <section class="section dashboard">
        <div class="row">
          <!-- internship_opportunities.html -->

              {% if active_vacancies %}
                <div class="card-deck">
                  {% for vacancy in active_vacancies %}
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">{{ vacancy.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ vacancy.company.name }}</h6>
                        <p class="card-text">{{ vacancy.description }}</p>
                        <p class="card-text">
                          <a href="{% url 'vacancy_detail' vacancy.id %}" class="btn btn-primary">Apply Now</a>
                        </p>
                        <a href="#" class="card-link">More Details</a>
                        <a href="#" class="card-link">Company Website</a>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              {% else %}
                <p>No active internship opportunities at the moment.</p>
              {% endif %}


        </div>
     
  </section>
{% endblock %}
