{% load static %}
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" href="{% url 'student_dashboard' %}">
                <i class="bi bi-house-door"></i>
                <span>Home</span>
            </a>
        </li><!-- End Home Nav -->

        <li class="nav-heading">Student</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'profile' %}">
                <i class="bi bi-person-circle"></i>
                <span>My Profile</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'internship_opportunities' %}">
                <i class="bi bi-briefcase"></i>
                <span>Internship Opportunities</span>
            </a>
        </li><!-- End Internship Opportunities Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'application_status' %}">
                <i class="bi bi-card-checklist"></i>
                <span>Application Status</span>
            </a>
        </li><!-- End Application Status Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-faq.html">
                <i class="bi bi-lightbulb"></i>
                <span>Skill Development</span>
            </a>
        </li><!-- End Skill Development Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'internship_preparation' %}">
                <i class="bi bi-journal-text"></i>
                <span>Internship Preparation</span>
            </a>
        </li><!-- End Internship Preparation Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'create_resume' %}">
                <i class="bi bi-file-earmark-person"></i>
                <span>Student Resume</span>
            </a>
        </li><!-- End Student Resume Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-faq.html">
                <i class="bi bi-file-earmark-text"></i>
                <span>Internship Reports</span>
            </a>
        </li><!-- End Internship Reports Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Logout</span>
            </a>
        </li><!-- End Logout Nav -->

    </ul>

</aside><!-- End Sidebar -->
